@keyframes shadow-drop-bottom {
  0% {
    box-shadow: 0 0 0 0 transparent;
  }
  to {
    box-shadow: 0 12px 20px -12px rgb(0 0 0/35%);
  }
}
.smashedEntireCity {
  text-decoration: underline;
}
.smashedEntireCityBlocks {
  color: inherit;
}
.storydescriptionTxt {
  line-break: anywhere;
  width: 100%;
}
.storydescription {
  position: absolute;
  top: 151px;
  left: 26px;
  line-height: 27px;
  display: flex;
  align-items: center;
  width: 357px;
  height: 91px;
}
.trumpDipsInto {
  margin: 0;
}
.headlinetitle {
  position: absolute;
  top: 41px;
  left: 26px;
  font-size: 25px;
  line-height: 27px;
  display: flex;
  color: #404040;
  align-items: center;
  width: 346px;
}
.headlinecontainer,
.topstorie {
  position: absolute;
  height: 279px;
  overflow: hidden;
}
.headlinecontainer {
  top: 0;
  left: 521px;
  background-color: var(--color-lightgray);
  backdrop-filter: blur(10px);
  width: 402px;
}
.topstorie {
  top: 36px;
  left: 41px;
  width: 923px;
  background-image: url(/public/topstorie@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.container,
.contentstand {
  position: absolute;
  top: 0;
  left: 1px;
  background-color: var(--color-white);
  width: 1536px;
  height: 500px;
  overflow: hidden;
}
.contentstand {
  top: 115px;
  left: 0;
  height: 502px;
}
.appdrawerbtn,
.zobuoUipng {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.zobuoUipng {
  text-decoration: none;
  position: absolute;
  top: 5px;
  left: 0;
  width: 156px;
  height: 70px;
  background-image: url(/public/zobuouipng@3x.png);
}
.appdrawerbtn {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  border-radius: var(--br-10xs);
  width: 29px;
  height: 29px;
  overflow: hidden;
  flex-shrink: 0;
  background-image: url(/public/appdrawerbtn@2x.png);
}
.appdrawerbtn:hover {
  animation: 1s ease 0s 1 normal none shadow-drop-bottom;
  opacity: 1;
}
.signIn {
  position: absolute;
  top: calc(50% - 5.5px);
  left: calc(50% - 21.44px);
  font-size: var(--font-size-smi);
  line-height: 10px;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: center;
}
.signinbtn {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-white);
  position: relative;
  border-radius: var(--br-10xs);
  width: 78.88px;
  height: 29px;
  overflow: hidden;
  flex-shrink: 0;
}
.btncontainer {
  position: absolute;
  top: 21px;
  left: 1400px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-6xs);
}
.uppermenu {
  position: relative;
  background: linear-gradient(180deg, #08f, #006ac6);
  width: 1536px;
  height: 75px;
}
.lowermenubtntext {
  position: absolute;
  top: 15px;
  left: 14px;
  font-size: var(--font-size-smi);
  line-height: 10px;
  font-family: var(--font-public-sans);
  color: var(--color-white);
  text-align: center;
}
.lowermenubtn {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  align-self: stretch;
  position: relative;
  border-right: 1px solid var(--color-royalblue-200);
  box-sizing: border-box;
  width: 95px;
  overflow: hidden;
  flex-shrink: 0;
}
.lowermenubtn:hover {
  background-color: var(--color-dodgerblue);
}
.lowermenubtntext2 {
  position: absolute;
  top: 15px;
  left: 21px;
  font-size: var(--font-size-smi);
  line-height: 10px;
  font-family: var(--font-public-sans);
  color: var(--color-white);
  text-align: center;
}
.lowermenu {
  align-self: stretch;
  background: linear-gradient(180deg, #0061d2, #0050ad);
  border-top: 1px solid var(--color-dodgerblue-100);
  border-bottom: 1px solid var(--color-dodgerblue-100);
  box-sizing: border-box;
  height: 40px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.headerPublic,
.homepage {
  background-color: var(--color-white);
  overflow: hidden;
}
.headerPublic {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.homepage {
  position: relative;
  width: 100%;
  height: 1000px;
  text-align: left;
  font-size: 17px;
  color: inherit;
  font-family: var(--font-inter);
}
@media screen and (max-width: 1200px) {
  .headerPublic {
    width: 1200px;
  }
}
