@keyframes shadow-drop-bottom {
  0% {
    box-shadow: 0 0 0 0 transparent;
  }
  to {
    box-shadow: 0 12px 20px -12px rgb(0 0 0/35%);
  }
}
.smashedEntireCity {
  text-decoration: underline;
}
.smashedEntireCityBlocks {
  color: inherit;
}
.storydescriptionTxt {
  line-break: anywhere;
  width: 100%;
}
.storydescription {
  position: absolute;
  top: 151px;
  left: 26px;
  line-height: 27px;
  display: flex;
  align-items: center;
  width: 357px;
  height: 91px;
}
.trumpDipsInto {
  margin: 0;
}
.headlinetitle {
  position: absolute;
  top: 41px;
  left: 26px;
  font-size: 25px;
  line-height: 27px;
  display: flex;
  color: #404040;
  align-items: center;
  width: 346px;
}
.headlinecontainer,
.topstorie {
  position: absolute;
  height: 279px;
  overflow: hidden;
}
.headlinecontainer {
  top: 0;
  left: 521px;
  background-color: var(--color-lightgray);
  backdrop-filter: blur(10px);
  width: 402px;
}
.topstorie {
  top: 24px;
  left: 296px;
  width: 923px;
  background-image: url(/public/topstorie@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.container,
.contentstand {
  position: absolute;
  top: 0;
  left: 1px;
  background-color: var(--white);
  width: 1536px;
  height: 500px;
  overflow: hidden;
}
.contentstand {
  top: 115px;
  left: 0;
  height: 502px;
}
.logomarkChild {
  position: relative;
  border-radius: 50%;
  background-color: var(--orange);
  width: 20.8px;
  height: 20.99px;
  z-index: 0;
}
.logomarkItem,
.unionIcon {
  position: absolute;
  margin: 0 !important;
}
.logomarkItem {
  top: 4.9px;
  left: -3.03px;
  border-radius: 50%;
  background: radial-gradient(50% 50%at 50% 50%, #fff, rgba(255, 255, 255, 0));
  width: 14.13px;
  height: 12.2px;
  transform: rotate(-33.41deg);
  transform-origin: 0 0;
  opacity: 0.6;
  z-index: 1;
}
.unionIcon {
  top: 0;
  right: 0.42px;
  width: 7.53px;
  height: 7.04px;
  z-index: 2;
}
.logomark {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 6.97px;
  z-index: 0;
}
.logoChild {
  position: relative;
  width: 121px;
  height: 24px;
  z-index: 1;
}
.orangefarm {
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: 27.2px;
  letter-spacing: -0.68px;
  font-weight: 600;
  display: none;
  z-index: 2;
}
.logo {
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: var(--gap-6xs-4);
  z-index: 0;
}
.collapseIcon {
  position: relative;
  border-radius: var(--br-9xs);
  width: 12px;
  height: 12px;
  overflow: hidden;
  flex-shrink: 0;
}
.brand,
.collapse {
  display: flex;
  justify-content: center;
}
.collapse {
  margin: 0 !important;
  position: absolute;
  top: calc(50% + 649px);
  right: -12px;
  border-radius: var(--br-5xs);
  background-color: var(--off-white);
  width: 24px;
  height: 24px;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-9xs);
  box-sizing: border-box;
  z-index: 1;
}
.brand {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-base) var(--padding-5xl) var(--padding-xs);
  position: relative;
  gap: var(--gap-5xs);
  font-size: 21.86px;
  font-family: var(--font-archivo);
}
.iconFromTablerio {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.search1 {
  position: relative;
  letter-spacing: -0.25px;
  line-height: 14px;
}
.bar,
.search {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.bar {
  border-radius: var(--br-xl);
  background-color: var(--white);
  border: 1px solid var(--light-gray);
  flex-direction: row;
  align-items: center;
  padding: var(--padding-xs) var(--padding-base);
  gap: var(--gap-5xs);
}
.search {
  flex-direction: column;
  align-items: flex-start;
  padding: 0 var(--padding-xs) var(--padding-xs);
  color: var(--mid-gray);
}
.sidebarItem {
  flex: 1;
  position: relative;
  letter-spacing: -0.25px;
  line-height: 14px;
}
.sidebarItem01 {
  width: 100%;
  border-radius: var(--br-5xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-xs);
  min-width: 264px;
  max-width: 320px;
}
.iconFromTablerio2 {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 0;
}
.manageUsers {
  flex: 1;
  position: relative;
  letter-spacing: -0.25px;
  line-height: 14px;
  z-index: 1;
}
.closedIcon {
  position: absolute;
  margin: 0 !important;
  top: 12.5px;
  left: 228px;
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 2;
}
.items,
.sidebarItem1,
.sidebarNest {
  display: flex;
  justify-content: flex-start;
}
.sidebarItem1 {
  flex: 1;
  border-radius: var(--br-5xl);
  height: 41px;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-xs) var(--padding-xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-xs);
  min-width: 264px;
  max-width: 320px;
}
.items,
.sidebarNest {
  align-self: stretch;
  align-items: flex-start;
}
.sidebarNest {
  flex-direction: row;
  min-width: 264px;
}
.items {
  flex: 1;
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-5xs);
  gap: var(--gap-5xs);
}
.avatarChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-5xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.avatar {
  position: relative;
  width: 32px;
  height: 32px;
}
.gustavoXavier {
  position: relative;
  letter-spacing: -0.25px;
  font-weight: 500;
}
.admin {
  position: relative;
  letter-spacing: -0.5px;
  line-height: 16px;
}
.gustavoXavierParent,
.tag {
  display: flex;
  justify-content: center;
}
.tag {
  border-radius: var(--br-5xl);
  background-color: var(--mid-orange);
  flex-direction: row;
  align-items: center;
  padding: 0 var(--padding-7xs);
  font-size: var(--font-size-3xs);
}
.gustavoXavierParent {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-9xs);
}
.info,
.sidebarItem9 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  gap: var(--gap-xs);
}
.info {
  align-self: stretch;
  height: 40px;
  padding: 0 var(--padding-xl);
}
.sidebarItem9 {
  width: 100%;
  border-radius: var(--br-5xl);
  padding: var(--padding-xs) var(--padding-xl);
  min-width: 264px;
  max-width: 320px;
  color: var(--dark-red);
}
.sidebarItemParent {
  align-self: stretch;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-11xs);
}
.sidebar,
.sidebarItemParent,
.user {
  display: flex;
  flex-direction: column;
}
.user {
  align-self: stretch;
  height: 180px;
  align-items: center;
  justify-content: flex-end;
  padding: var(--padding-base) var(--padding-5xs) var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-xs);
}
.sidebar {
  position: absolute;
  top: 139px;
  left: 8px;
  border-radius: var(--br-base);
  background-color: var(--white);
  height: 890px;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 280px;
  max-width: 320px;
  font-size: var(--font-size-sm);
  color: var(--black);
}
.appdrawerbtn,
.zobuoUipng {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.zobuoUipng {
  text-decoration: none;
  position: absolute;
  top: 5px;
  left: 0;
  width: 156px;
  height: 70px;
  background-image: url(/public/zobuouipng@3x.png);
}
.appdrawerbtn {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  border-radius: var(--br-10xs);
  width: 29px;
  height: 29px;
  overflow: hidden;
  flex-shrink: 0;
  background-image: url(/public/appdrawerbtn@2x.png);
}
.appdrawerbtn:hover {
  animation: 1s ease 0s 1 normal none shadow-drop-bottom;
  opacity: 1;
}
.signIn {
  position: absolute;
  top: calc(50% - 5.5px);
  left: calc(50% - 21.44px);
  font-size: var(--font-size-smi);
  line-height: 10px;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: center;
}
.signinbtn {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--white);
  position: relative;
  border-radius: var(--br-10xs);
  width: 78.88px;
  height: 29px;
  overflow: hidden;
  flex-shrink: 0;
}
.btncontainer {
  position: absolute;
  top: 21px;
  left: 1400px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-6xs);
}
.uppermenu {
  position: relative;
  background: linear-gradient(180deg, #08f, #006ac6);
  box-shadow: 0-1px 10px rgba(0, 0, 0, 0.25) inset;
  width: 1536px;
  height: 75px;
}
.lowermenubtntext {
  position: absolute;
  top: 15px;
  left: 14px;
  font-size: var(--font-size-smi);
  line-height: 10px;
  font-family: var(--font-public-sans);
  color: var(--white);
  text-align: center;
}
.lowermenubtn {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  align-self: stretch;
  position: relative;
  border-right: 1px solid var(--color-royalblue-200);
  box-sizing: border-box;
  width: 95px;
  overflow: hidden;
  flex-shrink: 0;
}
.lowermenubtn:hover {
  background-color: var(--color-dodgerblue);
}
.lowermenubtntext2 {
  position: absolute;
  top: 15px;
  left: 21px;
  font-size: var(--font-size-smi);
  line-height: 10px;
  font-family: var(--font-public-sans);
  color: var(--white);
  text-align: center;
}
.lowermenu {
  align-self: stretch;
  background: linear-gradient(180deg, #0061d2, #0050ad);
  border-top: 1px solid var(--color-dodgerblue-100);
  border-bottom: 1px solid var(--color-dodgerblue-100);
  box-sizing: border-box;
  height: 40px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.headerPublic,
.homepage {
  background-color: var(--white);
  overflow: hidden;
}
.headerPublic {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.homepage {
  position: relative;
  width: 100%;
  height: 1000px;
  text-align: left;
  font-size: 17px;
  color: inherit;
  font-family: var(--font-inter);
}
@media screen and (max-width: 1200px) {
  .headerPublic {
    width: 1200px;
  }
}
