@keyframes shadow-drop-bottom {
  0% {
    box-shadow: 0 0 0 0 transparent;
  }
  to {
    box-shadow: 0 12px 20px -12px rgb(0 0 0/35%);
  }
}
.profilecoverIcon,
.profiledpIcon {
  position: absolute;
  overflow: hidden;
  object-fit: cover;
  pointer-events: none;
}
.profilecoverIcon {
  top: 0;
  left: 0;
  border-radius: 0 0 var(--br-3xs) var(--br-3xs);
  width: 933px;
  height: 299px;
}
.profiledpIcon {
  top: 224px;
  left: 59px;
  border-radius: 100px;
  width: 150px;
  height: 150px;
}
.username {
  position: relative;
  line-height: 27px;
}
.verifiedstatus {
  position: relative;
  width: 50px;
  height: 50px;
  overflow: hidden;
  flex-shrink: 0;
}
.handlecontainer,
.profilename {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.profilename {
  height: 35px;
  flex-shrink: 0;
}
.handlecontainer {
  font-size: 15px;
  color: #4d4d4d;
  font-family: var(--font-inter);
}
.profileinfocont {
  position: absolute;
  top: 224px;
  left: 221px;
  border-radius: var(--br-3xs);
  background-color: var(--color-lightgray);
  backdrop-filter: blur(5px);
  width: 296px;
  height: 150px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-3xs);
  box-sizing: border-box;
}
.joinedIcon {
  position: relative;
  width: 19px;
  height: 19px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.biodatacontainer,
.joinedate,
.locationcontainer {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.joinedate {
  width: 120px;
  height: 27px;
  flex-shrink: 0;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.biodatacontainer,
.locationcontainer {
  gap: var(--gap-8xs);
}
.locationcontainer {
  flex: 1;
  height: 27px;
  justify-content: flex-start;
}
.biodatacontainer {
  align-self: stretch;
  height: 36px;
  flex-shrink: 0;
  justify-content: center;
}
.profilecard,
.profileminicard {
  border-radius: 0 0 var(--br-3xs) var(--br-3xs);
  overflow: hidden;
}
.profileminicard {
  position: absolute;
  top: 338px;
  left: 221px;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  width: 296px;
  height: 36px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xs);
  box-sizing: border-box;
  font-size: var(--font-size-3xs);
  color: var(--white);
  font-family: var(--font-inter);
}
.profilecard {
  align-self: stretch;
  flex: 1;
  position: relative;
  border: 1px solid #eee;
}
.profilecontainer {
  position: absolute;
  top: 114px;
  left: 276px;
  width: 983px;
  height: 700px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 25px;
  box-sizing: border-box;
}
.appdrawerbtn,
.zobuoUipng {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.zobuoUipng {
  text-decoration: none;
  position: absolute;
  top: 5px;
  left: 0;
  width: 156px;
  height: 70px;
  background-image: url(/public/zobuouipng@3x.png);
}
.appdrawerbtn {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  border-radius: var(--br-10xs);
  width: 29px;
  height: 29px;
  overflow: hidden;
  flex-shrink: 0;
  background-image: url(/public/appdrawerbtn@2x.png);
}
.appdrawerbtn:hover {
  animation: 1s ease 0s 1 normal none shadow-drop-bottom;
  opacity: 1;
}
.signIn {
  position: absolute;
  top: calc(50% - 5.5px);
  left: calc(50% - 21.44px);
  font-size: var(--font-size-smi);
  line-height: 10px;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: center;
}
.signinbtn {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--white);
  position: relative;
  border-radius: var(--br-10xs);
  width: 78.88px;
  height: 29px;
  overflow: hidden;
  flex-shrink: 0;
}
.btncontainer {
  position: absolute;
  top: 21px;
  left: 1400px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-6xs);
}
.uppermenu {
  position: relative;
  background: linear-gradient(180deg, #08f, #006ac6);
  box-shadow: 0-1px 10px rgba(0, 0, 0, 0.25) inset;
  width: 1536px;
  height: 75px;
}
.lowermenubtntext {
  position: absolute;
  top: 15px;
  left: 14px;
  font-size: var(--font-size-smi);
  line-height: 10px;
  font-family: var(--font-public-sans);
  color: var(--white);
  text-align: center;
}
.lowermenubtn {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  align-self: stretch;
  position: relative;
  border-right: 1px solid var(--color-royalblue-200);
  box-sizing: border-box;
  width: 95px;
  overflow: hidden;
  flex-shrink: 0;
}
.lowermenubtn:hover {
  background-color: var(--color-dodgerblue);
}
.lowermenubtntext2 {
  position: absolute;
  top: 15px;
  left: 21px;
  font-size: var(--font-size-smi);
  line-height: 10px;
  font-family: var(--font-public-sans);
  color: var(--white);
  text-align: center;
}
.lowermenu {
  align-self: stretch;
  background: linear-gradient(180deg, #0061d2, #0050ad);
  border-top: 1px solid var(--color-dodgerblue-100);
  border-bottom: 1px solid var(--color-dodgerblue-100);
  box-sizing: border-box;
  height: 40px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.headerPublic,
.publicprofile {
  background-color: var(--white);
  overflow: hidden;
}
.headerPublic {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.publicprofile {
  position: relative;
  width: 100%;
  height: 1000px;
  text-align: left;
  font-size: 30px;
  color: #292929;
  font-family: var(--font-roboto);
}
@media screen and (max-width: 1200px) {
  .headerPublic {
    width: 1200px;
  }
}
