.homepage {
  position: absolute;
  top: 10px;
  left: 13px;
  font-size: var(--font-size-smi);
  line-height: 10px;
  font-family: var(--font-public-sans);
  color: var(--color-white);
  text-align: center;
}
.homepagebtn {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  border-right: 1px solid var(--color-royalblue);
  border-left: 1px solid var(--color-royalblue);
  box-sizing: border-box;
  width: 96px;
  height: 30px;
  overflow: hidden;
  flex-shrink: 0;
}
.everythingbtn:hover,
.homepagebtn:hover {
  background-color: var(--color-cornflowerblue);
}
.everything {
  position: absolute;
  top: 10px;
  left: 11px;
  font-size: var(--font-size-smi);
  line-height: 10px;
  font-family: var(--font-public-sans);
  color: var(--color-white);
  text-align: center;
}
.everythingbtn {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  align-self: stretch;
  position: relative;
  border-right: 1px solid var(--color-royalblue);
  border-left: 1px solid var(--color-royalblue);
  box-sizing: border-box;
  width: 90px;
  overflow: hidden;
  flex-shrink: 0;
}
.lowermenu {
  position: absolute;
  top: 70px;
  left: 0;
  background: linear-gradient(180deg, #0061d2, #0050ad);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25) inset;
  width: 1536px;
  height: 30px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.signIn {
  position: absolute;
  top: calc(50% - 5.5px);
  left: calc(50% - 18px);
  line-height: 10px;
}
.signinbtn {
  position: absolute;
  top: 22px;
  left: 1437px;
  border-radius: 3px;
  background-color: #badfff;
  width: 68px;
  height: 25px;
  overflow: hidden;
}
.zobuoUipng {
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 1px;
  width: 156px;
  height: 70px;
  background-image: url(/public/zobuouipng@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.header,
.uppermenu {
  width: 1536px;
  overflow: hidden;
}
.uppermenu {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, #08f, #006ac6);
  height: 70px;
}
.header {
  background-color: var(--color-white);
  height: 100px;
  text-align: center;
  font-size: 10px;
  color: #000;
  font-family: var(--font-inter);
}
