@keyframes shadow-drop-bottom {
  0% {
    box-shadow: 0 0 0 0 transparent;
  }
  to {
    box-shadow: 0 12px 20px -12px rgb(0 0 0/35%);
  }
}
.profilecoverIcon,
.profiledpIcon {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0 0 var(--br-3xs) var(--br-3xs);
  width: 933px;
  height: 395px;
  overflow: hidden;
  object-fit: cover;
}
.profiledpIcon {
  top: 281px;
  left: 39px;
  border-radius: var(--br-3xs);
  width: 150px;
  height: 150px;
  cursor: pointer;
  pointer-events: none;
}
.profiledpIcon:hover {
  animation: 1s ease 0s 1 normal none shadow-drop-bottom;
  opacity: 1;
}
.username {
  position: relative;
  line-height: 27px;
}
.verifiedstatus {
  position: relative;
  width: 50px;
  height: 50px;
  overflow: hidden;
  flex-shrink: 0;
}
.handlecontainer,
.profilename {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.profilename {
  height: 35px;
  flex-shrink: 0;
}
.handlecontainer {
  font-size: var(--font-size-mini);
  color: var(--color-dimgray);
  font-family: var(--font-inter);
}
.profileinfocont {
  position: absolute;
  top: 281px;
  left: 206px;
  border-radius: var(--br-3xs);
  background-color: var(--color-lightgray);
  backdrop-filter: blur(5px);
  width: 296px;
  height: 150px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-3xs);
  box-sizing: border-box;
}
.joinedIcon {
  position: relative;
  width: 19px;
  height: 19px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.biodatacontainer,
.joinedate,
.locationcontainer {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.joinedate {
  width: 120px;
  height: 27px;
  flex-shrink: 0;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.biodatacontainer,
.locationcontainer {
  gap: var(--gap-8xs);
}
.locationcontainer {
  flex: 1;
  height: 27px;
  justify-content: flex-start;
}
.biodatacontainer {
  align-self: stretch;
  height: 36px;
  flex-shrink: 0;
  justify-content: center;
}
.profilecard,
.profileminicard {
  border-radius: 0 0 var(--br-3xs) var(--br-3xs);
  overflow: hidden;
}
.profileminicard {
  position: absolute;
  top: 395px;
  left: 206px;
  background-color: var(--color-gray-200);
  backdrop-filter: blur(5px);
  width: 296px;
  height: 36px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xs);
  box-sizing: border-box;
  font-size: var(--font-size-3xs);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.profilecard {
  align-self: stretch;
  flex: 1;
  position: relative;
  border: 1px solid var(--color-whitesmoke);
}
.profilecontainer {
  position: absolute;
  top: 114px;
  left: 276px;
  width: 983px;
  height: 660px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-6xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-gray-100);
  font-family: var(--font-roboto);
}
